/* Comentarios #A99059*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
	background-color: #cccccc;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 30px;
	text-align: center;
    margin: 0;
    padding: 0;

}
h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
	line-height: 1;
}

h2 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
	color: #FFB000;
    font-family: 'Chelsea Market', Georgia, serif;
	text-transform: lowercase;
}

h3 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
    margin-top: 40px;
	text-transform: lowercase;
}

p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
}
.img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #F3FDFF;
  }
/* Arrow & Hover Animation */
#more-arrows {
	width: 75px;
  height: 65px;
  
  &:hover {
    
    polygon {
      fill: #000;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
      
    }
  
  }
  
}

polygon {
  fill: #000;
  transition: all .2s ease-out;
    
  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}
.bloque {

	position: relative;
	margin: 0;
	width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
}

a, a:visited {
	color: #4DFFE1;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
	list-style: none;
}
.instrucciones {
    background-color: #000;
	font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}
.bloque-uno { background-color: #7273FC; padding-bottom: 50px; }
.bloque-uno h2 { color: #000; }
.bloque-dos { background-color: #2094FD; }
.bloque-dos h2 { color: #06406c; }
.bloque-dos h2 a { background: none; padding: 0; font-size: normal; }
.bloque-dos a { color: #FFF; font-size: 40px; font-weight: normal;font-style: normal; background-color: #06406c; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.bloque-dos a:hover { text-decoration: underline; }
.bloque-tres { background-color: #91E5B2; }
.bloque-tres h2 { color: #FFF; }
.bloque-tres p { color: #FFF; }
.bloque-Win { background-color: #3057A9; }
.bloque-Win h2 { color: #FFF; }
.bloque-Win p { color: #FFF; }
.bloque-Mac { background-color: #D94E7C; }
.bloque-Mac h2 { color: #FFF; }
.bloque-Mac p { color: #FFF; }
.bloque-cuatro { background-color: #25D34E; }
.bloque-cuatro h2 { color: #06406c; }
.bloque-cuatro h2 a { background: none; padding: 0; font-size: normal; }
.bloque-cuatro a { color: #FFF; font-size: 40px; font-weight: normal;font-style: normal; background-color: #06406c; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.bloque-cuatro a:hover { text-decoration: underline; }
.bloque-cinco { background-color: #37A0FA; }
.bloque-cinco h2 { color: #06406c; }
.bloque-cinco h2 a { background: none; padding: 0; font-size: normal; }
.bloque-cinco a { color: #FFF; font-size: 40px; font-weight: normal;font-style: normal; background-color: #06406c; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.bloque-cinco a:hover { text-decoration: underline; }

.div-primero{
	    position: relative;
    margin: 0;
    width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
}