html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
	background-image: url("imagenes/fondo.jpg");
	background-color: #cccccc;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 30px;
	text-align: center;
    margin: 0;
    padding: 0;

}
h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
	line-height: 1;
}

h2 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
	color: #FFB000;
    font-family: 'Chelsea Market', Georgia, serif;
	text-transform: lowercase;
}

h3 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
    margin-top: 40px;
	text-transform: lowercase;
}

p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
}
/* Arrow & Hover Animation */
#more-arrows {
	width: 75px;
  height: 65px;
  
  &:hover {
    
    polygon {
      fill: #000;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
      
    }
  
  }
  
}

polygon {
  fill: #000;
  transition: all .2s ease-out;
    
  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}
.scrollblock {

	position: relative;
	margin: 0;
	width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
}

a, a:visited {
	color: #000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
	list-style: none;
}
.block-title { background-color: #FFF; padding-bottom: 50px; }
.block-title h2 { color: #000; }
.block-setup { background-color: #348fd4; }
.block-setup h2 { color: #06406c; }
.block-setup h2 a { background: none; padding: 0; font-size: normal; }
.block-setup a { color: #FFF; font-size: 40px; font-weight: normal;font-style: normal; background-color: #06406c; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.block-setup a:hover { text-decoration: underline; }
.div-primero{
	    position: relative;
    margin: 0;
    width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
}